<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/90efaed707.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="top-header">
            <img src="./images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <form action="#">
                <input type="text" placeholder="Búsqueda..." name="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <h2>
                <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" id="fas">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="bottom-header">
            <ul type="left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="circle" class="login">
                <li><a href="./register">Crea tu cuenta   <i class="fas fa-id-card"></i></a></li>
                <li><a href="./login">Ingresa  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <div class="banner">
        <img src="./images/img-home-banner.jpg" alt="">
    </div>
    <main>
        <h3>Basado en tu última visita</h3>
        <section class="main-section">
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $6.770
                    </p>
                    <p class="descuento">40% Off</p>
                </div>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $230.000
                    </p>
                    <p class="descuento">20% Off</p>
                </div>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $70.500
                    </p>
                    <p class="descuento">10% Off</p>
                </div>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $23.200
                    </p>
                    <p class="descuento">5% Off</p>
                </div>
                <h4>SmartTv Samsung 43"</h4>
            </article>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $6.770
                    </p>
                    <p class="descuento">40% Off</p>
                </div>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $230.000
                    </p>
                    <p class="descuento">20% Off</p>
                </div>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $70.500
                    </p>
                    <p class="descuento">10% Off</p>
                </div>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $23.200
                    </p>
                    <p class="descuento">5% Off</p>
                </div>
                <h4>SmartTv Samsung 43"</h4>
            </article>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $6.770
                    </p>
                    <p class="descuento">40% Off</p>
                </div>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $230.000
                    </p>
                    <p class="descuento">20% Off</p>
                </div>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $70.500
                    </p>
                    <p class="descuento">10% Off</p>
                </div>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="" height="150">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                    <p class="precio">
                        $23.200
                    </p>
                    <p class="descuento">5% Off</p>
                </div>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>

    <footer>
        <section class="footer-section">
            <article>
                <i class="fas fa-id-card"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es
                    seguro!
                </p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                    de Mercado Puntos.
                </p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre
                    protegid@.
                </p>
            </article>
        </section>
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>